body {
	color: #d3d3d3;
	background: #28407c;
}

.gif {
	border: 5px solid #d3d3d3;
}

.btn-default {
	margin: 5px;
	background: #d3d3d3;
	color: #28407c;
}

#gif-input {
	border-radius: 5px;
	color: #010101;
}

#click-me {
	color: #28407c;
	cursor: pointer;
}