body {
	color: #fff;
	background: #26268b;
}

.gif {
	border: 5px solid #fff;
}

.gif-button {
	margin: 5px;
}

.gif-div {
	display: inline;
}

#gif-input {
	color: #010101;
}

#click-me {
	color: #26268b;
	cursor: pointer;
}